/**
 *
 * Fonts
 *
 */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@font-face {
    font-family: 'AvertaCYBold';
    src: url('fonts/AvertaCYBold.eot');
    src: url('fonts/AvertaCYBold.eot') format('embedded-opentype'),
         url('fonts/AvertaCYBold.woff2') format('woff2'),
         url('fonts/AvertaCYBold.woff') format('woff'),
         url('fonts/AvertaCYBold.ttf') format('truetype'),
         url('fonts/AvertaCYBold.svg#AvertaCYBold') format('svg');
}
:root{
	--averca: 'AvertaCYBold';
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #1E1E1E;
}
::selection{
	background: red; 
	color: white;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Language */
.lang-wrap{
	height: 100vh;
	background-color: #111;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.lang-wrap h2{
	font-size: 1cm;
	line-height: 5cm;
}
.lang-buttons a{
	padding: 16px;
	font-size: 1cm;
	font-family: var(--averca);
}
/*
	Menu Begins
*/

 .menu-button-wrap {
	 position: fixed;
	 left: 11px;
	 top: 100px;
	 z-index: 11;
	 will-change: transform;
	 transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .menu-button-wrap .menu-button {
	 cursor: pointer;
	 width: 48px;
	 height: 48px;
	 border: none;
	 background: 0 0;
	 will-change: transform;
	 transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .menu-button-wrap .menu-button span:after, .menu-button-wrap .menu-button span:before {
	 content: "";
	 width: 2px;
	 height: 48px;
	 position: absolute;
	 background-color: #fff;
	 left: 50%;
	 top: 50%;
	 display: block;
	 will-change: transform;
	 transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .menu-button-wrap .menu-button span:before {
	 transform: translate(-5px, -50%) scaleY(0.7) rotate(180deg);
}
 .menu-button-wrap .menu-button span:after {
	 transform: translate(5px, -50%) scaleY(0.7) rotate(0);
}
 .menu-button-wrap.open {
	 transform: translateX(80px);
	 transition-delay: 0.2s;
}
 .menu-button-wrap.open .menu-button {
	 transform: rotate(90deg);
}
 .menu-button-wrap.open span:before {
	 transform: translate(-50%, -50%) rotate(315deg);
	 background-color: #fff;
}
 .menu-button-wrap.open span:after {
	 transform: translate(-50%, -50%) rotate(45deg);
	 background-color: #fff;
}
 .menu-holder .menu-inside {
	 position: fixed;
	 width: 100vw;
	 height: 100vh;
	 transform: translateX(-100%);
	 transition: transform 1s cubic-bezier(1, 0, 0, 1);
	 will-change: transform;
	 background-color: #111;
	 color: white;
	 z-index: 10;
}
 .menu-holder .menu-inside.open {
	 transform: translateX(0);
}
 .menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) a {
	 transition-delay: 0.8s;
}
 .menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) a {
	 transition-delay: 0.9s;
}
 .menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) a {
	 transition-delay: 1s;
}
 .menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) a {
	 transition-delay: 1.1s;
}
 .menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) a {
	 transition-delay: 1.2s;
}
 .menu-holder .menu-inside.open .internal-nav-links li a {
	 transform: translate(0);
	 transition-duration: 0.8s;
	 transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(1n) a {
	 transition-delay: 1s;
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(2n) a {
	 transition-delay: 1.1s;
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(3n) a {
	 transition-delay: 1.2s;
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(4n) a {
	 transition-delay: 1.3s;
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(5n) a {
	 transition-delay: 1.4s;
}
 .menu-holder .menu-inside.open .external-nav-links li:nth-child(6n) a {
	 transition-delay: 1.5s;
}
 .menu-holder .menu-inside.open .external-nav-links li a {
	 opacity: 1;
	 transform: translate(0);
	 transition-duration: 1s;
	 transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
 .menu-holder .menu-inside .menu-nav-container {
	 position: relative;
	 left: 220px;
	 top: 100px;
	 overflow: hidden;
	 width: calc(90vw - 260px);
}
 .menu-holder .menu-inside .internal-nav-links li {
	 margin-bottom: 20px;
}
/* links Styling */
 .menu-holder .menu-inside .internal-nav-links li a {
	 font-size: clamp(32px, 4vw, 52px);
	 line-height: 1.1em;
	 transform: translate(-100%);
	 will-change: transform;
	 transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	 font-family: var(--averca);
}
 .menu-holder .menu-inside .internal-nav-links li:hover {
	 cursor: pointer;
}
.menu-holder .menu-inside .internal-nav-links li:hover a {	
	color: red;
	/*  To do: animation */
}
 .menu-holder .menu-inside .internal-nav-links li:hover img {
	 opacity: 1;
	 transform: translateY(-50%) translateX(30px);
}
 .menu-holder .menu-inside .internal-nav-links li img {
	 pointer-events: none;
	 aspect-ratio: 1.7777777778;
	 opacity: 0;
	 display: block;
	 width: 30vw;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%) translateX(-30px);
	 right: 10%;
	 object-fit: cover;
	 filter: brightness(1.3) grayscale(0.54) contrast(0.8) saturate(1.2) sepia(0.21);
	 transition: transform 0.5s ease-in-out;
}
 .menu-holder .menu-inside .external-nav-links {
	 margin-top: 100px;
	 display: flex;
	 flex-wrap: wrap;
}
 .menu-holder .menu-inside .external-nav-links li {
	 margin-right: 30px;
}
 .menu-holder .menu-inside .external-nav-links li a {
	 transform: translate(-100%);
	 opacity: 0;
	 will-change: transform;
	 transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
 .menu-holder .menu-inside .external-nav-links li:last-of-type {
	 margin-right: 0px;
}

/* 

	Menu Ends
	
*/
 
/*  animations */
/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.4;
	text-align: center;
	font-family: var(--averca);
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 0s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 0.3s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
/*

	Hero Begins

*/
.hero-wrapper{
	height: 100vh;
	display: flex;
	background-color: #1E1E1E;
	justify-content: center;
	align-items: center;
}
.hero-text{
	font-size: 6vw;
	font-family: var(--averca);
	color: red;
}
/* 

	Hero Ends

*/

/* 

	About Us (Short)

*/
.about-short-wrap{
	height: 120vh;
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about-us-short-h1{
	font-family: var(--averca);
   	font-size: 7vh;
	line-height: 15vh;
	max-width:600px;
}
.about-us-short-p{
	font-family: var(--averca);
   	font-size: 2vh;
	color: white;
	max-width: 24cm;
}
.about-us-short-link{
	color: red;
	font-family: var(--averca);
	font-size: 2.4vh;
	padding: 10px;
	padding-right: 92vh;
	text-decoration: underline;
}
.reveal {
  color:#fff;
  background:
    linear-gradient(#fc0000 0 0),
    linear-gradient(#fc0000 0 0);
  background-size:0 100%;
  background-position:0 0;
  -webkit-background-clip:padding-box,text;
          background-clip:padding-box,text;
  background-repeat:no-repeat;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  animation: 
   t 1.2s  .5s both,
   b 1.2s 1.3s both;
}

@keyframes t{
  to {background-size:150% 100%}
}
@keyframes b{
  to {background-position:-200% 0,0 0}
}
/* 

	End About Us (Short)

*/


/* 
	404
*/
.four{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}
/*  About Us */
.about-wrapper{
	background-color: #1E1E1E;
	height: 100vh;
}
.abt-title-wrap{
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.abt-text{
	color: white;
	font-family: var(--averca);
	padding: 60px;
	font-size: 1.2em;
}
.abt-title{
	color: white;
	font-size: 3cm;
	font-family: var(--averca);
}
.abt-red{
	margin-left: 3px;
	color: red;
}
/* Names */
.abt-names{
	color: white;
	font-family: var(--averca);
	font-size: 2em;
}
.abt-h{
	color: red;
	font-size: 3em;
	font-family: var(--averca);
}
/* Map */
.map-wrapper{
	display: flex;
	background-color: #1E1E1E;
	justify-content:center ;
	/* flex-direction: column; */
	/* height: 50vh; */
}
.map-headline{
	text-align: center;
	color:white;
	font-size: 6em;
}
/* Headline */
.headline-wrapper{
	background-color: #1E1E1E;
	color: #ff0000;
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	font-family: var(--averca);
}
/*  Inv */
.inv-wrapper{
	margin-top: 100px;
	background-color: #1E1E1E;
	color: white;
	height: 100vh;
	text-align: center;
}
.inv-wrapper h2{
	font-family: var(--averca);
	font-size: 5em;
	color: red;
}
.inv-video{
	display: flex;
	justify-content: center;
	align-content: center;
}
/*  Thanks  */
.staff-wrap{
	height: 50vh;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.about-col {
  flex: 50%;
  padding: 10px;
  height: 300px;
  text-align: center;
}
/*
	  Responsive
*/
 @media screen and (max-width: 600px) {
  .menu-inside .menu-nav-container {
		 left: 10%;
		 width: 100vw;
	}
	.about-col{
		width: 100%;
	}
	 .menu-inside .menu-nav-container img {
		 display: none !important;
	}
	.headline-wrapper{
		font-size: 2em;
	}
  .menu-button{
    display: none;
  }
}